.resume{
  height: 100%;
  color: white;
  padding: 10px;
  background-image: url("https://uploads.codesandbox.io/uploads/user/9bf5a9bd-541f-471d-bbc2-96b4e4ddf464/-SkZ-wood_texture.jpg");
 
  .resume__body{
    background-image:url("https://uploads.codesandbox.io/uploads/user/9bf5a9bd-541f-471d-bbc2-96b4e4ddf464/7qlT-blackboard_texture.jpg");
  }
}