* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  /* perspective: 1px;
  transform-style: preserve-3d; */
}

a,
a:hover,
a:visited {
  outline: none;
  text-decoration: none;
  color: inherit;
}

.section-100 {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.section-75 {
  min-height: 75vh;

  width: 100%;
  overflow-x: hidden;
}

.section-50 {
  min-height: 50vh;
  width: 100%;
  overflow-x: hidden;
}

.section-25 {
  min-height: 25vh;
  width: 100%;
  overflow-x: hidden;
}
