.App {
  height: 100vh;
  min-height: 500px;
}

hr {
  width: 90%;
  background-color: white;
}

.App__resume {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
